
.navbar-brand{
    color: rgb(172, 2, 2)!important;
    font-family: 'MonteCarlo', cursive!important;
    font-size:40px!important;
}
.navbar-toggler{
    border-style: none!important;
    margin-right: 150px!important;
    text-decoration: none;
    font-size:medium!important;
}
.navbar-toggler:hover{
    color: orangered;
}
.nav-link{
    color: rgb(172, 2, 2)!important;
}
.nav-item{
    padding-right: 20px;
}